

<form class="form-horizontal">
    <div class="control-group">

        <h1>3D Geeks: OctoPrint Integration</h1>

        <div id="geeks-status"></div>

<br>
        <div id="geeks"></div>


        <div>

        <br>
        <br>
        Dont have the app yet?<br>
            <a href="https://play.google.com/store/apps/details?id=work.twob.threed" target="_blank">
                <img src="plugin/geeks3d/static/img/badge_new.png">
            </a>


        </div>
    </div>

</form>
